body {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15em;
  padding-right: 15em;
  padding-top: 10px;
  line-height: 1.7em;
  text-align: center;
}

canvas {
  display: inline;
  width: 100%;
}

.canvas-container {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.stat {
  text-decoration: underline;
}

a {
  color: #3b8bba;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 940px) {
  .container {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  canvas {
    width: 100%;
  }
}
